<app-add-placeform />
<br/>
<br/>
<!-- <div>
  <label>Select a Restaurant:</label>
  <select id="restaurantDropdown" [(ngModel)]="selectedRestaurantId">
    <option *ngFor="let restaurant of restaurants" [value]="restaurant.id">
      {{ restaurant.name }}
    </option>
  </select>
</div> -->
<div>
  <label>Select a Restaurant:</label>
  <div *ngFor="let restaurant of restaurants">
    <button  
      (click)="selectRestaurant(restaurant.id)"
      [ngClass]="{ 'selected': selectedRestaurantId === restaurant.id }"
    >
      {{ restaurant.name }}
    </button>
  </div>
</div>

