
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/customer">Customer</a>
            </li>               
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/owner">Owner</a>
            </li>         
        </ul>
        </div>
        <button *ngIf="authService.isLoggedIn()" (click)="authService.logOut()" class="btn btn-secondary">Log Out</button>
        <button *ngIf="!authService.isLoggedIn()" (click)="goToHome()" class="btn btn-primary">Log In</button>
    </div>
</nav>
<!-- 
<ng-container *ngIf="customerView">
    <div>
        <app-list-restaurants />
    </div>
</ng-container>
<ng-container *ngIf="restaurantOwnerView">
    <div>
    </div>
</ng-container> -->



<router-outlet />
<br/>
<div>
    <button (click)="goToContact()">Help</button>
</div>

<br/>

<app-list-restaurants />